html
    head
        link(href="/libs/semantic/dist/semantic.min.css", rel="stylesheet")
    body
        div(class="ui grid")
            div(class="four wide column")
            div(class="eight wide column ui form")
                form(mathod="POST" action="/register")
                    div(class="ui left icon input field") 
                        input(type="text" name="username" placeholder="Username")
                        i(class="user icon")
                    br    
                    div(class="ui left icon input field") 
                        input(type="text" name="password" placeholder="Password")
                        i(class="lock icon")
                    br
                    br    
                    button(class="ui button" type="submit")
                        | Register    
            div(class="four wide column")        